{{!-- this is an example of a "namespaced" component. Allows me to organize my components by folders according to their purpose --}}

{{!-- this can be invoked as <Rental::Image> --}}
<div class="image">
    <img ...attributes>
    {{!-- the ...attributes keyword allows arbitrary HTML attributes to be passed in when invoking this component --}}

    {{!-- adding ...attribute to the primary element allows for maximum flexibility --}}
</div>
