{{!-- Components are Ember's way of creating custom tags to supplement the built-in HTML tags from the browser --}}
<div class="jumbo">
    <div class="right tomster"></div>
    {{yield}}
    {{!-- yield keyword allows us to pass content to components  --}}
</div>