<Jumbo>
    <h2>Welcome to Super Rentals!</h2>
    <p>We hope you find exactly what you-re looking for in a place to stay</p>
    <LinkTo @route="about" class="button">About Us</LinkTo>
    {{!-- "<LinktTo" component allows us to link pages together without having to do a full page refresh --}}

    {{!-- "@route=" passes arguments into the component. Here we use this arguemnt to specify which route we want to link to. Note that this is the name of the route, not the path, which is why i specified "about" instead of "/about" --}}
</Jumbo>

<div class="rentals">
    <label>
        <span>Where would you like to stay?</span>
        <input class="light">
    </label>
    <ul class="results">
        {{#each @model as |rental|}}
        <li><Rental @rental={{rental}}/></li>
        {{!-- for each item in the array- we will render the Rental component that is passed to it once. --}}
        {{!-- Passing the rental variable as an argument to the Rental component  --}}
        {{/each}}
        {{!-- {{#each}}...{{/each}} syntax iterates and loops through the array returned by the model hook --}}
    </ul>
</div>